<%= react_component 'ResourcePage', {modules: @resource_topics} %>

<!-- <section class="module">
  <div class="container module-container">
    <div class="module-search row">
      <form>
        <input class="module-search-input" placeholder="Search Modules..."
        type="search" name="search">
        <input class="module-search-submit" type="submit" />
        <span class="module-search-icon">
          </span>
      </form>
      <div class = "module-row">
        <form class = "button_to" method = "get" action = "/resource_topics/new">
            <input class = "btn btn-blue" type = "submit" value = "New Module">
        </form>
      </div>
          <%= react_component'ResourceUploadModal', {style: 'btn btn-blue', modules: @resource_topics} %>
    </div>
    <div class= "module-title"> Modules </div>

    <div class="row">
      <% @resource_topics.each do |d| %>
        <%= link_to resource_topics_path(resource_topics_id: d.id) do %>

        <div class="module-item-container col-xs-12 col-md-5">
          <div tabindex="1" class="module-item row">
          <div class="cover-picture">
            <a href=""><img src="/assets/pug.jpg" /></a>
          </div>
            <h4 class="module-item-title">
              <%= d.name %>
              <div class = "module-item-description"> Manuals and blueprints for building your own buses. </div>
              <div class = "module-item-description">
                <% if d.created_at > Time.now.beginning_of_day %>
                    Updated: <%= time_ago_in_words(d.updated_at) %> ago
                <% else %>
                    Updated: <%= d.created_at.strftime("%b %d, %Y") %>
                <% end %>
              </div>
            </h4>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section> -->

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<%= react_component('ResourceUploadModal', style: 'btn-blue btn', modules: @resource_topics) %>
<%= link_to "New Module", new_resource_topic_path %> <!-- make this into react component modal -->
<br />
<br />
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Module</th>
      <th>Number of Resources</th>
    </tr>
  </thead>
  <tbody>
    <% @resource_topics.each do |r| %>
      <tr>
        <td><%= link_to r.name, resource_topic_path(id: r.id) %></td>
        <td><%= r.resources.length %></td>
        <td><%= button_to "Delete",  r, method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure that you wish to delete #{r.name}?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
