<div class="discussion-selected-container col-xs-12 col-md-8">
  <div class="row">
    <h2 class="discussion-title"><%= @discussion.title %></h2>
    <p class="discussion-description wordwrap"><%= @discussion.content %></p>
    <% if current_user and current_user == discussion.user %>
      <%= button_to "Delete", discussion_path(@discussion),
      method: :delete, class: 'btn btn-action btn-sm btn-destroy pull-right' %>
      <%= button_to "Edit", edit_discussion_path(@discussion),
      method: :get, class: 'btn btn-action btn-sm pull-right' %>
    <% end %>
  </div>

  <div class="user-action row">
    <div class="action-container pull-left">
      <i class="upvote-button fa fa-angle-up fa-lg"></i>
      <span class="upvote-count"><%= @discussion.score %> Upvotes</span>
    </div>
    <div class="user-container pull-right">
      <div class="user-picture">
        <a href=""><%= image_tag @discussion.user.profile_pic.url(:thumb) if @discussion.user.profile_pic? %></a>
      </div>
      <div class="name-date">
        <a href=""><div class="user-name"><%= @discussion.user.full_name %></div></a>
        <div class="date"><%= time_ago_in_words(@discussion.created_at) %> ago</div>
      </div>
      <div class="user-picture">
        <a href=""><%= image_tag("grace.jpg") %></a>
      </div>
    </div>
  </div>

  <div class="response-form-container row">
    <% if current_user %>
      <h4 class="response-form-header">Post a Reply</h4>
      <%= render 'responses/form' %>
    <% else %>
      <h4 class="response-form-header">Want to Add a Discussion or Response?</h4>
      <%= react_component('LoginModal', style: "btn btn-transparent btn-forum-login") %>
    <% end %>
  </div>

  <% @responses.each do |r| %>
    <%= render r %>
    <% if !r.equal?(@responses.last) %>
        <hr class="row"/>
    <% end %>
  <% end %>
</div>
