<section class="discussion">
  <div class="container discussion-container">
    <div class="discussion-search row">
      <form>
        <input class="discussion-search-input" placeholder="Search discussion threads..."
        type="search" name="search">
        <input class="discussion-search-submit" type="submit" />
        <span class="discussion-search-icon"></span>
      </form>
    </div>
    <div class="row">
      <div class="discussion-item-container col-xs-12 col-md-4">
        <% @discussions.each do |d| %>
          <%= link_to discussions_path(discussion_id: d.id) do %>
            <div tabindex="4" class="discussion-item row">
              <h4 class="discussion-item-title">
                <%= d.title %>
                <div class = "discussion-item-date">
                  <% if d.created_at > Time.now.beginning_of_day %>
                      <%= time_ago_in_words(d.created_at) %> ago
                  <% else %>
                      <%= d.created_at.strftime("%b %d, %Y") %> # Jun 29, 2012
                  <% end %>
                </div>
              </h4>
              <p class="discussion-item-description">
                <%= d.content %>
              </p>
            </div>
          <% end %>
        <% end %>
      </div>
      <% if @discussion %>
          <%= render @discussion %>
      <% end %>
      </div>
      <% if current_user %>
        <%= link_to "Create Discussion", new_discussion_path %>
      <% end %>
    </div>
  </div>
</section>
