<h1>  <%= @discussion.title %>  </h1>

<div> <%= @discussion.content %>

<br><br>
Action:
<br>
<%= link_to "Edit Discussion", edit_discussion_path %>
<%= button_to "Delete Discussion", discussion_path(@discussion), method: :delete %>
<%= link_to "Back to Forum", discussions_path %>

<h3>Add a response:</h3>
	<%= render 'responses/form' %>
</br>

<h3>Responses:</h3>
<div >
  <%= render show_responses %>
</div>
