<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.0.1/mapbox-gl-geocoder.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.0.1/mapbox-gl-geocoder.css' type='text/css' />

<div id='map'></div>
<div class="aux-map-tools">
  <p>Explore the network of Lava Mae around the world.
    Click on a point to see more information about a friend who's changing the world!</p>
  <%= button_to "Join the Movement", root_path, :class => "btn btn-blue btn-join", :method  => :get %>
</div>

<script>
  mapboxgl.accessToken = '<%= ENV['MAPBOX_KEY'] %>';

  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/light-v9',
    zoom: 1,
    minZoom: 1,
  });

  map.addControl(new MapboxGeocoder({
    accessToken: mapboxgl.accessToken
  }));

  var markerHeight = 20;
  var popupMargin = markerHeight/2 + 5;
  map.on('load', function() {
    var points = new Set();
    <% @users_on_map.each do |user| %>
      <% location = user.location %>
      var popupOffsets = {
       'top': [0, popupMargin],
       'top-left': [0, popupMargin],
       'top-right': [0, popupMargin],
       'bottom': [0, -popupMargin],
       'bottom-left': [0, -popupMargin],
       'bottom-right': [0, -popupMargin],
       'left': [popupMargin, 0],
       'right': [-popupMargin, 0]
       };
      var popup = new mapboxgl.Popup({offset:popupOffsets}).setHTML(
        '<div class="popup-preview">' +
          '<div class="organization"><%= user.organization %></div>' +
          '<div class="user-container">' +
            '<%= link_to user_path(id: user.id) do %> ' +
            '<div class="name"><%= user.first_name %> <%= user.last_name %></div>' +
            '<% end %>' +
            '<% if user.profile_pic? %> ' +
            '<%= image_tag(user.profile_pic.url(:thumb), class: "user-image") %>' +
            '<% else %><%= image_tag(("default.png"), class: "user-image") %>' +
            '<% end %>' +
          '</div>' +
        '</div>'
      );
      // TODO: Make markers circle around same point. This is quick fix.
      var lng = <%= location.lng %>;
      var lat = <%= location.lat %>;
      if (points.has(<%= location.id %>)) {
        let lng_r = Math.random() * (.03) - 0.01;
        let lat_r = Math.random() * (.03) - 0.01;
        lng += lng_r;
        lat += lat_r;
      } else {
        points.add(<%= location.id %>);
      }
      var marker = new mapboxgl.Marker(null, {offset:[-markerHeight/2, -markerHeight/2]})
        .setLngLat([lng, lat])
        .setPopup(popup)
        .addTo(map);
      marker.onMapClick = function() {
        marker.togglePopup();
      };
    <% end %>
  });
</script>
