<div class="nav">
  <div class="<%=
  current_page?(root_path)||current_page?(about_path)||current_page?(map_path)||current_page?(discussions_path) ? 'container-lg' : 'container'
  %>">
    <a href="/" class="logo"></a>
    <i class="hamburger fa fa-bars fa-lg" onclick="mobileMenu()"></i>
    <ul class="nav-items-container" id="topNav">
      <%= link_to discussions_path do %>
      <li class="nav-item">
        <button class="btn btn-transparent btn-nav
        <%= 'btn-nav-selected' if current_page?(discussions_path)%>">Discussions</button>
      </li>
      <% end %>
      <%= link_to map_path do %>
      <li class="nav-item">
        <button class="btn btn-transparent btn-nav
        <%= 'btn-nav-selected' if current_page?(map_path)%>">Map</button>
      </li>
      <% end %>
      <%= link_to resource_topics_path do %>
      <li class="nav-item">
        <button class="btn btn-transparent btn-nav
        <%= 'btn-nav-selected' if current_page?(resource_topics_path)%>">Resources</button>
      </li>
      <% end %>
      <%= link_to about_path do %>
      <li class="nav-item">
        <button class="btn btn-transparent btn-nav
        <%= 'btn-nav-selected' if current_page?(about_path)%>">About</button>
      </li>
      <% end %>
      <div class="display-mobile">
        <%if user_signed_in? %>
          <%= link_to user_path(current_user.id) do %>
<!-- IF on home page, make nav transparent -->
<% if current_page?(root_path) %>
  <div class="nav-home">
    <div class="container-lg">
      <a href="/" class="logo"></a>
      <i class="hamburger fa fa-bars fa-2x" onclick="mobileMenu()"></i>
      <ul class="nav-items-container" id="topNav">
        <% if user_signed_in? %>
          <%= link_to discussions_path do %>
            <li class="nav-item">
              <button class="btn btn-transparent btn-nav">Discussions</button>
            </li>
          <% end %>
          <%= link_to map_path do %>
            <li class="nav-item">
                <button class="btn btn-transparent btn-nav">Map</button>
            </li>
          <% end %>
          <%= link_to resource_topics_path do %>
            <li class="nav-item">
              <button class="btn btn-transparent btn-nav">Resources</button>
            </li>
          <% end %>

          <div class="dropdown user-container">
            <div class="dropbtn user-picture">
              <%= link_to user_path(current_user.id) do %>
                <% if current_user.profile_pic? %>
                  <%= image_tag current_user.profile_pic.url(:thumb) %>
                <% else %>
                  <%= image_tag("default.png") %>
                <% end %>
              <% end %>
            </div>
            <i class="fa fa-caret-down fa-lg margin-l"></i>
            <div class="dropdown-content">
              <%= link_to user_path(current_user.id) do %>
                Profile
              <% end %>
              <% if current_user.is_admin%> 
                <%= link_to admin_dashboard_path do %> 
                  Admin Dashboard
                <% end %>
              <% end %>
              <%= button_to "Logout", destroy_user_session_path, :class => "btn btn-action", :method => :delete %>
            </div>
          </div>
        <%else%>
          <%= link_to discussions_path do %>
            <li class="nav-item">
              <button class="btn btn-transparent btn-nav">Discussions</button>
            </li>
          <% end %>
          <%= link_to map_path do %>
            <li class="nav-item">
              <button class="btn btn-transparent btn-nav">Map</button>
            </li>
          <% end %>
          <%= link_to resource_topics_path do %>
            <li class="nav-item">
              <button class="btn btn-transparent btn-nav">Resources</button>
            </li>
          <% end %>
          <li class="nav-item">
            <button class="btn btn-transparent btn-nav
            <%= 'btn-nav-selected' if current_page?(user_path(current_user.id))%>">Profile</button>
          </li>
          <% end %>
          <li class="nav-item">
            <%= button_to "Logout", destroy_user_session_path, :class => "btn btn-transparent btn-nav", :method => :delete %>
          </li>
        <%end%>
      </ul>
    </div>
  </div>


<!-- Special discussion navbar -->
<% elsif current_page?(discussions_path)%>
  <div class="nav">
    <div class="container-lg">
      <a href="/" class="logo"></a>
      <form class="discussion-search">
        <input class="discussion-search-input" placeholder="Search discussion threads..."
        type="search" name="search" value=<%= params[:search]%>>

        <% if @discussion %>
        <input type="hidden" name="discussion_id" value=<%= @discussion.id%>>
        <% end %>
        <% if params[:fav] %>
        <input type="hidden" name="fav" value=<%= params[:fav]%>>
        <% end %>
      </form>
      <i class="hamburger fa fa-bars fa-2x" onclick="mobileMenu()"></i>
      <ul class="nav-items-container pull-right" id="topNav">
        <%if user_signed_in? %>
          <%= link_to discussions_path do %>
            <li class="nav-item">
              <button class="btn btn-transparent btn-nav btn-nav-selected">Discussions</button>
            </li>
          <% end %>
          <%= link_to map_path do %>
            <li class="nav-item">
              <button class="btn btn-transparent btn-nav">Map</button>
            </li>
          <% end %>
          <%= link_to resource_topics_path do %>
            <li class="nav-item">
              <button class="btn btn-transparent btn-nav">Resources</button>
            </li>
          <% end %>

          <div class="dropdown user-container">
            <div class="dropbtn user-picture">
              <%= link_to user_path(current_user.id) do %>
                <% if current_user.profile_pic? %>
                  <%= image_tag current_user.profile_pic.url(:thumb) %>
                <% else %>
                  <%= image_tag("default.png") %>
                <% end %>
              <% end %>
            </div>
            <i class="fa fa-caret-down fa-lg margin-l"></i>
            <div class="dropdown-content">
              <%= link_to user_path(current_user.id) do %>
                Profile
              <% end %>
              <% if current_user.is_admin%> 
                <%= link_to admin_dashboard_path do %> 
                  Admin Dashboard
                <% end %>
              <% end %>
              <%= button_to "Logout", destroy_user_session_path, :class => "btn btn-action", :method => :delete %>
            </div>
          </div>
        <%else%>
          <li class="nav-item">
            <%= react_component('LoginModal', style: "btn btn-transparent btn-login") %>
          </li>
          <li class="nav-item">
            <%= button_to "Sign Up", sign_up_path, :class => "btn btn-transparent btn-signup", :method => :get %>
          </li>
        <%end%>
      </ul>
      <ul class="nav-items-container right-item-container hide-mobile" id="topNav">
        <%if user_signed_in? %>
        <div class="dropdown user-container">
          <div class="dropbtn user-picture <%= 'profile-selected' if current_page?(user_path(current_user.id)) %>">
            <%= link_to user_path(current_user.id) do %>
              <% if current_user.profile_pic? %>
                <%= image_tag current_user.profile_pic.url(:thumb) %>
              <% else %>
                <%= image_tag("default.png") %>
              <% end %>
            <% end %>
          <%= link_to discussions_path do %>
            <li class="nav-item">
              <button class="btn btn-transparent btn-nav">Discussions</button>
            </li>
          <% end %>
          <%= link_to map_path do %>
            <li class="nav-item">
              <button class="btn btn-transparent btn-nav
              <%= 'btn-nav-selected' if current_page?(map_path) %>">Map</button>
            </li>
          <% end %>
          <%= link_to resource_topics_path do %>
            <li class="nav-item">
              <button class="btn btn-transparent btn-nav resources-nav
              <%= 'btn-nav-selected' if current_page?(resource_topics_path) %>">Resources</button>
            </li>
          <% end %>

          <div class="dropdown user-container">
            <div class="dropbtn user-picture
            <%= 'profile-selected' if current_page?(user_path(current_user.id)) %>">
              <%= link_to user_path(current_user.id) do %>
                <% if current_user.profile_pic? %>
                  <%= image_tag current_user.profile_pic.url(:thumb) %>
                <% else %>
                  <%= image_tag("default.png") %>
                <% end %>
              <% end %>
            </div>
            <i class="fa fa-caret-down fa-lg margin-l"></i>
            <div class="dropdown-content">
              <%= link_to user_path(current_user.id) do %>
                Profile
              <% end %>
              <% if current_user.is_admin%> 
                <%= link_to admin_dashboard_path do %> 
                  Admin Dashboard
                <% end %>
              <% end %>
              <%= button_to "Logout", destroy_user_session_path, :class => "btn btn-action", :method => :delete %>
            </div>
          </div>
          <i class="fa fa-caret-down fa-lg margin-l"></i>
          <div class="dropdown-content">
            <%= link_to user_path(current_user.id) do %>
            Profile
            <% end %>
            <% if current_user.is_admin%> 
              <%= link_to admin_dashboard_path do %> 
                Admin Dashboard
              <% end %>
            <% end %>
            <%= button_to "Logout", destroy_user_session_path, :class => "btn btn-action", :method => :delete %>
          </div>
        </div>
        <%else%>
        <li class="nav-item">
          <%= react_component('LoginModal', style: "btn btn-transparent btn-login") %>
        </li>
        <li class="nav-item">
          <%= button_to "Sign Up", sign_up_path, :class => "btn btn-transparent btn-signup", :method => :get %>
        </li>
        <%end%>
      </div>
    </ul>
  </div>
</div>

<!-- HAMBURGER MENU JS -->
<script>
function mobileMenu() {
  $('.nav-items-container').toggleClass('nav-items-container-active');
  $('.nav-items-container').toggleClass('right-item-container');
}
</script>