<!-- IF on home page, make nav transparent -->
<% if current_page?(root_path) %>
  <div class="nav-home">
    <div class="container">
      <a href="/" class="logo"></a>
      <i class="hamburger fa fa-bars fa-2x" onclick="mobileMenu()"></i>
      <ul class="nav-items-container" id="topNav">
        <% if user_signed_in? %>
          <%= link_to discussions_path do %>
            <li class="nav-item">
              <button class="btn btn-transparent btn-nav">Discussions</button>
            </li>
          <% end %>
          <li class="nav-item">
            <button class="btn btn-transparent btn-nav">Stories</button>
          </li>
          <%= link_to map_path do %>
            <li class="nav-item">
                <button class="btn btn-transparent btn-nav">Map</button>
            </li>
          <% end %>
          <%= link_to resource_topics_path do %>
            <li class="nav-item">
              <button class="btn btn-transparent btn-nav">Resources</button>
            </li>
          <% end %>
          <li class="nav-item">
            <%= button_to "Logout", destroy_user_session_path, :class => "btn btn-transparent btn-login", :method => :delete %>
          </li>
        <%else%>
          <%= link_to discussions_path do %>
            <li class="nav-item">
              <button class="btn btn-transparent btn-nav">Discussions</button>
            </li>
          <% end %>
          <li class="nav-item">
            <button class="btn btn-transparent btn-nav">Stories</button>
          </li>
          <%= link_to map_path do %>
            <li class="nav-item">
              <button class="btn btn-transparent btn-nav">Map</button>
            </li>
          <% end %>
          <%= link_to resource_topics_path do %>
            <li class="nav-item">
              <button class="btn btn-transparent btn-nav">Resources</button>
            </li>
          <% end %>
          <li class="nav-item">
            <%= react_component('LoginModal', style: "btn btn-transparent btn-login") %>
          </li>
          <li class="nav-item">
            <%= button_to "Sign Up", sign_up_path, :class => "btn btn-transparent btn-signup", :method => :get %>
          </li>
        <%end%>
      </ul>
    </div>
  </div>


<!-- Special discussion navbar -->
<% elsif current_page?(discussions_path)%>
  <div class="nav">
    <div class="container-lg">
      <a href="/" class="logo"></a>
      <form class="discussion-search">
        <input class="discussion-search-input" placeholder="Search discussion threads..."
        type="search" name="search" value=<%= params[:search]%>>

        <% if @discussion %>
        <input type="hidden" name="discussion_id" value=<%= @discussion.id%>>
        <% end %>
        <% if params[:fav] %>
        <input type="hidden" name="fav" value=<%= params[:fav]%>>
        <% end %>
      </form>
      <i class="hamburger fa fa-bars fa-2x" onclick="mobileMenu()"></i>
      <ul class="nav-items-container pull-right" id="topNav">
        <%if user_signed_in? %>
          <%= link_to discussions_path do %>
            <li class="nav-item">
              <button class="btn btn-transparent btn-nav btn-nav-selected">Discussions</button>
            </li>
          <% end %>
          <li class="nav-item">
            <button class="btn btn-transparent btn-nav">Stories</button>
          </li>
          <%= link_to map_path do %>
            <li class="nav-item">
              <button class="btn btn-transparent btn-nav">Map</button>
            </li>
          <% end %>
          <%= link_to resource_topics_path do %>
            <li class="nav-item">
              <button class="btn btn-transparent btn-nav">Resources</button>
            </li>
          <% end %>
          <li class="nav-item">
            <%= button_to "Logout", destroy_user_session_path, :class => "btn btn-transparent btn-login", :method => :delete %>
          </li>
        <%else%>
          <%= link_to discussions_path do %>
            <li class="nav-item">
              <button class="btn btn-transparent btn-nav btn-nav-selected">Discussions</button>
            </li>
          <% end %>
          <li class="nav-item">
            <button class="btn btn-transparent btn-nav">Stories</button>
          </li>
          <%= link_to map_path do %>
            <li class="nav-item">
              <button class="btn btn-transparent btn-nav">Map</button>
            </li>
          <% end %>
          <%= link_to resource_topics_path do %>
            <li class="nav-item">
              <button class="btn btn-transparent btn-nav">Resources</button>
            </li>
          <% end %>
          <li class="nav-item">
            <%= react_component('LoginModal', style: "btn btn-transparent btn-login") %>
          </li>
          <li class="nav-item">
            <%= button_to "Sign Up", sign_up_path, :class => "btn btn-transparent btn-signup", :method => :get %>
          </li>
        <%end%>
      </ul>
    </div>
  </div>

<!-- ELSE make nav blue -->
<% else %>
  <div class="nav">
    <div class="<%= 'container' unless current_page?(map_path) %>
      <%= 'container-lg' if current_page?(map_path) %>">
      <a href="/" class="logo"></a>
      <i class="hamburger fa fa-bars fa-2x" onclick="mobileMenu()"></i>
      <ul class="nav-items-container" id="topNav">
        <%if user_signed_in? %>
          <%= link_to discussions_path do %>
            <li class="nav-item">
              <button class="btn btn-transparent btn-nav">Discussions</button>
            </li>
          <% end %>
          <li class="nav-item">
            <button class="btn btn-transparent btn-nav">Stories</button>
          </li>
          <%= link_to map_path do %>
            <li class="nav-item">
              <button class="btn btn-transparent btn-nav
              <%= 'btn-nav-selected' if current_page?(map_path) %>">Map</button>
            </li>
          <% end %>
          <%= link_to resource_topics_path do %>
            <li class="nav-item">
              <button class="btn btn-transparent btn-nav">Resources</button>
            </li>
          <% end %>
          <li class="nav-item">
            <%= button_to "Logout", destroy_user_session_path, :class => "btn btn-transparent btn-login", :method => :delete %>
          </li>
        <%else%>
          <%= link_to discussions_path do %>
            <li class="nav-item">
              <button class="btn btn-transparent btn-nav">Discussions</button>
            </li>
          <% end %>
          <li class="nav-item">
            <button class="btn btn-transparent btn-nav">Stories</button>
          </li>
          <%= link_to map_path do %>
            <li class="nav-item">
              <button class="btn btn-transparent btn-nav
              <%= 'btn-nav-selected' if current_page?(map_path) %>">Map</button>
            </li>
          <% end %>
          <%= link_to resource_topics_path do %>
            <li class="nav-item">
              <button class="btn btn-transparent btn-nav">Resources</button>
            </li>
          <% end %>
          <li class="nav-item">
            <%= react_component('LoginModal', style: "btn btn-transparent btn-login") %>
          </li>
          <li class="nav-item">
            <%= button_to "Sign Up", sign_up_path, :class => "btn btn-transparent btn-signup", :method => :get %>
          </li>
        <%end%>
      </ul>
    </div>
  </div>
<% end %>

<!-- HAMBURGER MENU JS -->
<script>
function mobileMenu() {
  var x = document.getElementById("topNav");
  if (x.className === "nav-items-container") {
      x.className += " responsive";
  } else {
      x.className = "nav-items-container";
  }
}
</script>
