<div class="user-profile">
  <h1>User Profile</h1>
  <h1>User Profile</h1>
  <h1>User Profile</h1>
  <h1>User Profile</h1>
  <div class="user-info">
    <div>
      Name:
      <%= @user.first_name %>
      <%= @user.last_name %>
    </div>
    <div>
      Email:
      <%= @user.email %>
    </div>
    <div>
      Organization:
      <%= @user.organization %>
    </div>
    <div>
      Location:
      <%= @user.city %>,
      <%= @user.country %>
    </div>
    </div>
      <% if current_user and current_user == @user %>
        <%= link_to "EDIT PROFILE", user_edit_path(@user.id) %>
      <% end %>
    </div>
  </div>
</div>
