<section class="profile">
  <div class="container profile-container">
    <div class="user-card user-flex">
      <div class="profile-picture">
        <% if @user.profile_pic? %>
          <%= image_tag @user.profile_pic.url(:thumb) %>
        <% else %>
          <%= image_tag("default.png") %>
        <% end %>
      </div>
      <div>
        <%= @user.first_name %>
        <%= @user.last_name %>
        <% if @user.seeking_volunteer %>
        <p>Seeking Volunteers</p>
        <% end %>
        <% if @user.volunteer %>
        <p>Volunteer</p>
        <% end %>
      </div>
      <div class="user-info user-flex">
        <div class="user-profile-fields">
          Email<br>
          <% if (@user.secondary_name && @user.secondary_name != "") || (@user.secondary_email && @user.secondary_email != "") %>
          Secondary<br>
          <% end %>
          <% if @user.secondary_name && @user.secondary_name != "" && @user.secondary_email && @user.secondary_email != "" %>
          <br>
          <% end %>
          <% if (@user.tertiary_name && @user.tertiary_name != "") || (@user.tertiary_email && @user.tertiary_email != "") %>
          Tertiary<br>
          <% end %>
          <% if @user.tertiary_name && @user.tertiary_name != "" && @user.tertiary_email && @user.tertiary_email != "" %>
          <br>
          <% end %>
          Organization<br>
          Website<br>
          Location<br>
        </div>
        <div class="vertical-line">
          <div class="user-profile-answers">
            <%= @user.email %><br>
            <% if @user.secondary_name && @user.secondary_name != "" %>
              <%= @user.secondary_name %><br>
            <% end %>
            <% if @user.secondary_email && @user.secondary_email != "" %>
              <%= @user.secondary_email %><br>
            <% end %>
            <% if @user.tertiary_name && @user.tertiary_name != "" %>
              <%= @user.tertiary_name %><br>
            <% end %>
            <% if @user.tertiary_email && @user.tertiary_email != ""%>
              <%= @user.tertiary_email %><br>
            <% end %>
            <% if @user.organization %>
              <%= @user.organization %><br>
            <% else %>
              <%= "Not Available" %><br>
            <% end %>
            <% if @user.website %>
              <%= @user.website %><br>
            <% else %>
              <%= "Not Available" %><br>
            <% end %>
            <% if @location %>
              <%= @location.place %><br>
            <% else %>
              <%= "Not Available" %><br>
            <% end %>
          </div>
        </div>
      </div>
      <%if current_user && current_user.id == @user.id %>
        <div class="user-flex">
          <div class="profile-edit-button">
            <%if @location %>
              <%= react_component('EditProfileModal', user_id: @user.id, first_name: @user.first_name, last_name: @user.last_name, email: @user.email, secondary_name: @user.secondary_name, secondary_email: @user.secondary_email,
                                        tertiary_name: @user.tertiary_name, tertiary_email: @user.tertiary_email, organization: @user.organization, website: @user.website, location: @location.place, on_map: @user.on_map, profile_pic: @user.profile_pic,
                                        volunteer: @user.volunteer, seeking_volunteer: @user.seeking_volunteer) %>
            <% else %>
              <%= react_component('EditProfileModal', user_id: @user.id, first_name: @user.first_name, last_name: @user.last_name, email: @user.email, secondary_name: @user.secondary_name, secondary_email: @user.secondary_email,
                                        tertiary_name: @user.tertiary_name, tertiary_email: @user.tertiary_email, organization: @user.organization, website: @user.website, on_map: @user.on_map, profile_pic: @user.profile_pic,
                                        volunteer: @user.volunteer, seeking_volunteer: @user.seeking_volunteer) %>
            <% end %>
          </div>
          <div>
            <%= react_component('ChangePasswordModal', user_id: @user.id) %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="profile-right">
      <div>
        <h5 class="profile-section-titles">
          <%= "Bio" %><br>
        </h5>
          <% if current_user && @user.bio%>
            <%= react_component('UserBio', user: @user, current_user: current_user) %>
            <br><br>
          <% elsif current_user && current_user.id == @user.id%>
            <%= react_component('UserBio', user: @user, current_user: current_user) %>
            <br><br>
          <% elsif @user.bio %>
            <%= react_component('UserBio', user: @user) %>
            <br>
          <%else %>
            <%= "This user has not yet uploaded a personal bio." %>
            <br>
          <% end %>
      </div>
      <div>
        <h5 class="profile-section-titles">
          <%= "Photo Gallery" %><br>
        </h5>
          <% if current_user %>
            <% if current_user.id != @user.id && !@user.images %>
              <%= "This user has not yet uploaded a photo gallery." %>
            <% else %>
              <%= react_component('UserPhotoGallery', user: @user, images: @user.images) %>
            <%end %>
            <%if current_user.id == @user.id %>
              <% if @user.images != [] %>
                <%= react_component('UserPhotoDelete', user: @user, images: @user.images) %>
                <%= react_component('UserPhotoEdit', user: @user, images: @user.images) %>
              <% end %>
            <%= react_component('UserPhotoUpload', user: @user, images: @user.images) %>
            <% end %>
          <% else %>
            <% if !@user.images %>
              <%= "This user has not yet uploaded a photo gallery." %>
            <% else %>
              <%= react_component('UserPhotoGallery', user: @user, images: @user.images) %>
            <%end %>
          <% end %>
      </div>
      <%if current_user && current_user.id == @user.id && @user.is_admin %>
      <div>
        <h5 class="profile-section-titles">
          <%= "Users Pending Map Approval" %><br>
        </h5>
        <%= react_component('PendingMapUsers', pending_users: @pending_map_users, user_id: @user.id) %>
      </div>
      <% end %>
      <% if @favorite_discussions.count > 0 %>
      <div>
        <h5 class="profile-section-titles">
          <%= "Favorited Discussions" %><br>
        </h5>
        <div class="favorite-discussions" id="discussions">
          <% @favorite_discussions.each do |discussion| %>
            <%= render 'discussions/shortened', {discussion: discussion} %>
          <% end %>
        </div>
      </div>
      <% end %>
      <%if current_user && current_user.id == @user.id  && (@user.volunteer || @user.seeking_volunteer)%>
      <div>
        <h5 class="profile-section-titles">
          <%= "Volunteer Matching in Your Area" %><br>
        </h5>
        <%= react_component('VolunteerMatching', volunteers: @volunteers, user_id: @user.id) %>
      </div>
      <% end %>
    </div>
  </div>
</section>
