<section class="profile">
  <div class="container profile-container">
    <div class="user-card user-flex">
      <div class="profile-picture">
        <% if @user.profile_pic? %>
          <%= image_tag @user.profile_pic.url(:thumb) %>
        <% else %>
          <%= image_tag("default.png") %>
        <% end %>
      </div>
      <div class="user-name">
        <h4><%= @user.first_name %> <%= @user.last_name %></h4>
        <div class="tooltip">
          <% if @user.seeking_volunteer %>
            <%= image_tag("calling-badge.png", class: 'badge') %>
          <% end %>
          <span class="tooltiptext">
            Seeking volunteers
          </span>
        </div>
        <div class="tooltip">
          <% if @user.volunteer %>
            <%= image_tag("volunteer-badge.png", class: 'badge') %>
          <% end %>
          <span class="tooltiptext">
            Volunteer
          </span>
        </div>
      </div>
      <div class="user-info">
        <table class="fields">
          <tr>
            <th>Email</th>
            <td><%= @user.email %></td>
          </tr>
          <% if (@user.secondary_name && @user.secondary_name != "") || (@user.secondary_email && @user.secondary_email != "") %>
            <tr>
              <th>Secondary</th>
              <td><%= @user.secondary_name %><br />
              <%= @user.secondary_email %></td>
            </tr>
          <% end %>
          <% if (@user.tertiary_name && @user.tertiary_name != "") || (@user.tertiary_email && @user.tertiary_email != "") %>
            <tr>
              <th>Tertiary</th>
              <td><%= @user.tertiary_name %><br />
              <%= @user.tertiary_email %></td>
            </tr>
          <% end %>
          <tr>
            <th>Organization</th>
            <td>
              <% if @user.organization != "" %>
                <%= @user.organization %>
              <% else %>
                <%= "Not Available" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>Website</th>
            <td>
              <% if @user.website != "" %>
                <%= @user.website %>
              <% else %>
                <%= "Not Available" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>Location</th>
            <td>
              <% if @location %>
                <%= @location.place %>
              <% else %>
                <%= "Not Available" %>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
      <%if current_user && current_user.id == @user.id %>
        <div class="user-flex">
          <div class="profile-edit-button">
            <%if @location %>
              <%= react_component('EditProfileModal', user_id: @user.id, first_name: @user.first_name, last_name: @user.last_name, email: @user.email, secondary_name: @user.secondary_name, secondary_email: @user.secondary_email,
                                        tertiary_name: @user.tertiary_name, tertiary_email: @user.tertiary_email, organization: @user.organization, website: @user.website, location: @location.place, on_map: @user.on_map, profile_pic: @user.profile_pic,
                                        volunteer: @user.volunteer, seeking_volunteer: @user.seeking_volunteer) %>
            <% else %>
              <%= react_component('EditProfileModal', user_id: @user.id, first_name: @user.first_name, last_name: @user.last_name, email: @user.email, secondary_name: @user.secondary_name, secondary_email: @user.secondary_email,
                                        tertiary_name: @user.tertiary_name, tertiary_email: @user.tertiary_email, organization: @user.organization, website: @user.website,
                                        on_map: @user.on_map, profile_pic: @user.profile_pic,
                                        volunteer: @user.volunteer, seeking_volunteer: @user.seeking_volunteer) %>
            <% end %>
          </div>
          <div>
            <%= react_component('ChangePasswordModal', user_id: @user.id) %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="profile-right">
      <div>
        <h5 class="profile-section-titles">
          <%= "Bio" %><br>
        </h5>
          <% if current_user && (@user.bio || current_user.id == @user.id)%>
            <%= react_component('UserBio', user: @user, current_user: current_user) %>
            <br>
          <% elsif @user.bio %>
            <%= react_component('UserBio', user: @user) %>
          <%else %>
            <%= "This user has not yet uploaded a personal bio." %>
          <% end %>
      </div>
      <br>
      <div>
        <h5 class="profile-section-titles">
          <%= "Photo Gallery" %><br>
        </h5>
          <% if @user.images[0] || current_user == @user %>
            <%= react_component('UserPhotoGallery', user: @user, images: @user.images) %>
          <% else %>
            <%= "This user has not yet uploaded a photo gallery." %>
          <% end %>
          <%if current_user && current_user.id == @user.id %>
            <% if @user.images != [] %>
              <%= react_component('UserPhotoDelete', user: @user, images: @user.images) %>
              <%= react_component('UserPhotoEdit', user: @user, images: @user.images) %>
            <% end %>
          <%= react_component('UserPhotoUpload', user: @user, images: @user.images) %>
          <% end %>
      </div>
      <% if @favorite_discussions.count > 0 %>
      <div>
        <h5 class="profile-section-titles">
          <%= "Favorited Discussions" %><br>
        </h5>
        <div class="favorite-discussions" id="discussions">
          <% @favorite_discussions.each do |discussion| %>
            <%= render 'discussions/shortened', {discussion: discussion} %>
          <% end %>
        </div>
      </div>
      <% end %>
      <%if current_user && current_user.id == @user.id  && (@user.volunteer || @user.seeking_volunteer)%>
      <div>
        <h5 class="profile-section-titles">
          <%= "Volunteer Matching in Your Area" %><br>
        </h5>
        <%= react_component('VolunteerMatching', volunteers: @volunteers, user_id: @user.id, default_image: @default_img) %>
      </div>
      <% end %>
    </div>
  </div>
</section>
