<div class="user-profile col-xs-12 col-md-4">
  <div class="user-info">
    <div>
      Name:
      <%= @user.first_name %>
      <%= @user.last_name %>
    </div>
    <div>
      Email:
      <%= @user.email %>
    </div>
    <div>
      Organization:
      <%= @user.organization %>
    </div>
    <div>
      Location:
      <%= @user.city %>,
      <%= @user.country %>
    </div>
    <%if current_user.id == @user.id %>
      </div>
        <%= react_component('EditProfileModal', style: "btn btn-login", user_id: @user.id, first_name: @user.first_name, last_name: @user.last_name, email: @user.email, organization: @user.organization, city: @user.city, country: @user.country, countries: CS.countries.values, on_map: @user.on_map) %>
        <%= react_component('ChangePasswordModal', model: :user, user_id: @user.id) %>
      </div>
    <% end %>
  </div>
</div>
