<div class="user-profile">
  <div class="row user-flex">
    <div class="user-info">
      <div class="profile-picture">
        <% if @user.profile_pic? %>
          <a href=""><%= image_tag @user.profile_pic.url(:thumb) %></a>
        <% else %>
          <a href=""><%= image_tag("default.png") %></a>
        <% end %>
      </div>
      <div class="row user-flex">
        <div class="user-profile-fields">
          Name<br>
          Email<br>
          Organization<br>
          Website<br>
          Location<br>
        </div>
        <div class="vertical-line">
          <div class="user-profile-answers">
            <div>
              <%= @user.first_name %>
              <%= @user.last_name %>
            </div>
            <%= @user.email %><br>
            <% if @user.organization %>
              <%= @user.organization %><br>
            <% else %>
              <%= "Not Available" %><br>
            <% end %>
            <% if @user.website %>
              <%= @user.website %><br>
            <% else %>
              <%= "Not Available" %><br>
            <% end %>
            <% if @location %>
              <%= @location.place %><br>
            <% else %>
              <%= "Not Available" %><br>
            <% end %>
          </div>
        </div>
      </div>
      <%if current_user.id == @user.id %>
        <div class="row user-flex">
          <div class="profile-edit-button">
            <%if @location %>
              <%= react_component('EditProfileModal', user_id: @user.id, first_name: @user.first_name, last_name: @user.last_name, email: @user.email, organization: @user.organization, website: @user.website, location: @location.place, on_map: @user.on_map) %>
            <% else %>
              <%= react_component('EditProfileModal', user_id: @user.id, first_name: @user.first_name, last_name: @user.last_name, email: @user.email, organization: @user.organization, website: @user.website, on_map: @user.on_map) %>
            <% end %>
          </div>
          <div>
            <%= react_component('ChangePasswordModal', user_id: @user.id) %>
          </div>
        </div>
      <% end %>
    </div>
    <div>
      <div class="profile-section-titles">
        <%= "Bio" %><br>
        <%= react_component('UserBio', user: @user) %>
      </div>
      <div class="profile-section-titles">
        <%= "Photo Gallery" %><br>
        render_gallery_for @user.images
      </div>
      <div class="profile-section-titles">
        <%= "Favorited Discussions" %><br>
      </div>
      <div class="favorite-discussions-container col-xs-12 col-md-4" id="discussions">
        <% @favorite_discussions.each do |discussion| %>
          <%= render 'discussions/shortened', {discussion: discussion} %>
        <% end %>
      </div>
    </div>
    <div>
      <%if current_user.id == @user.id && @user.is_admin %>
        <div class="profile-section-titles">
          <%= "Users Pending Map Approval" %><br>
        </div>
        <%= react_component('PendingMapUsers', pending_users: @pending_map_users, user_id: @user.id) %>
      <% end %>
    </div>
  </div>
</div>
