<div class="landing">
  <div class="landing-text">
    <h3 class="landing-title">
      Lava Mae Reach
    </h3>
    <h4 class="landing-body">
      Lava Mae Reach is a community based site focused on helping you provide
      mobile hygiene services to your community. Connecting, inspiring and
      educating communities is at the heart of our organization, and this is
      your place to learn and connect with one another.  We’re excited to work
      with you to get more showers on the streets, so let’s get started!
    </h4>
    <button class="btn btn-blue" id="explore">Explore</button>
  </div>
</div>

<!-- Needed for black overlay -->
<div class="filler">
</div>

<div class="site-guide">
  <h1>Explore</h1>
  <div class="thirds-container">
      <div class="third">
        <%= image_tag("tool-kit.png", :class => "third-hero") %>
        <h1>Start Your Service</h1>
        <p>
          Read and download our mobile hygiene toolkit to learn how to start your own service.
        </p>
        <%= link_to resource_topics_path do %>
          <button class="btn btn-blue">View Toolkit</button>
        <% end %>
      </div>

      <div class="third">
        <%= image_tag("discussions.png", :class => "third-hero") %>
        <h1>Discussions</h1>
        <p>
          Get advice, discuss issues or ask questions and help each other find solutions.
        </p>
        <%= link_to discussions_path do %>
          <button class="btn btn-blue">View Discussions</button>
        <% end %>
      </div>
      <div class="third">
        <%= image_tag("network.png", :class => "third-hero") %>
        <h1>Our Network</h1>
        <p>
          Discover and connect with individuals and organizations like you who
          are revolutionizing global sanitation in their community.
        </p>
        <%= link_to map_path do %>
          <button class="btn btn-blue">View Our Network</button>
        <% end %>
      </div>
  </div>
</div>

<script>
// EXPLORE
$("#explore").click(function(){
  $('html,body').animate({
    scrollTop: $(".site-guide").offset().top},
  'slow');
});
</script>
