<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.0.1/mapbox-gl-geocoder.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.0.1/mapbox-gl-geocoder.css' type='text/css' />

<div class="map-home" id='map'></div>

<div class="landing">
  <div class="landing-text">
    <h3 class="landing-title">
      Lava Mae Reach
    </h3>
    <h4 class="landing-body">
      Lava Mae Reach is a community based site focused on helping you provide
      mobile hygiene services to your community. Connecting, inspiring and
      educating communities is at the heart of our organization, and this is
      your place to learn and connect with one another.  We’re excited to work
      with you to get more showers on the streets, so let’s get started!
    </h4>
    <button class="btn btn-blue" id="explore">Explore</button>
  </div>
</div>

<!-- Needed for black overlay -->
<div class="filler">
</div>

<div class="site-guide">
  <h1>Explore</h1>
  <div class="thirds-container">
      <div class="third">
        <%= image_tag("tool-kit.png", :class => "third-hero") %>
        <h1>Start Your Service</h1>
        <p>
          Read and download our mobile hygiene toolkit to learn how to start your own service.
        </p>
        <%= link_to resource_topics_path do %>
          <button class="btn btn-blue">View Toolkit</button>
        <% end %>
      </div>

      <div class="third">
        <%= image_tag("discussions.png", :class => "third-hero") %>
        <h1>Discussions</h1>
        <p>
          Get advice, discuss issues or ask questions and help each other find solutions.
        </p>
        <%= link_to discussions_path do %>
          <button class="btn btn-blue">View Discussions</button>
        <% end %>
      </div>
      <div class="third">
        <%= image_tag("network.png", :class => "third-hero") %>
        <h1>Our Network</h1>
        <p>
          Discover and connect with individuals and organizations like you who
          are revolutionizing global sanitation in their community.
        </p>
        <%= link_to map_path do %>
          <button class="btn btn-blue">View Our Network</button>
        <% end %>
      </div>
  </div>
</div>

<script>
// EXPLORE
$("#explore").click(function(){
  $('html,body').animate({
    scrollTop: $(".site-guide").offset().top},
  'slow');
});

// MAPBOX
mapboxgl.accessToken = '<%= ENV['MAPBOX_KEY'] %>';

var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/light-v9',
  zoom: 1,
  minZoom: 1,
});

map.addControl(new MapboxGeocoder({
  accessToken: mapboxgl.accessToken
}));

var markerHeight = 20;
var popupMargin = markerHeight/2 + 5;
map.on('load', function() {
  var points = new Set();
  <% @users_on_map.each do |user| %>
    <% location = user.location %>
    var popupOffsets = {
     'top': [0, popupMargin],
     'top-left': [0, popupMargin],
     'top-right': [0, popupMargin],
     'bottom': [0, -popupMargin],
     'bottom-left': [0, -popupMargin],
     'bottom-right': [0, -popupMargin],
     'left': [popupMargin, 0],
     'right': [-popupMargin, 0]
     };
    var popup = new mapboxgl.Popup({offset:popupOffsets}).setHTML(
      '<div class="popup-preview">' +
        '<div class="organization"><%= user.organization %></div>' +
        '<div class="user-container">' +
          '<%= link_to user_path(id: user.id) do %> ' +
          '<div class="name"><%= user.first_name %> <%= user.last_name %></div>' +
          '<% end %>' +
          '<% if user.profile_pic? %> ' +
          '<%= image_tag(user.profile_pic.url(:thumb), class: "user-image") %>' +
          '<% else %><%= image_tag(("default.png"), class: "user-image") %>' +
          '<% end %>' +
        '</div>' +
      '</div>'
    );
    // TODO: Make markers circle around same point. This is quick fix.
    var lng = <%= location.lng %>;
    var lat = <%= location.lat %>;
    if (points.has(<%= location.id %>)) {
      let lng_r = Math.random() * (0.02) - 0.01;
      let lat_r = Math.random() * (0.02) - 0.01;
      lng += lng_r;
      lat += lat_r;
    } else {
      points.add(<%= location.id %>);
    }
    var marker = new mapboxgl.Marker(null, {offset:[-markerHeight/2, -markerHeight/2]})
      .setLngLat([lng, lat])
      .setPopup(popup)
      .addTo(map);
    marker.onMapClick = function() {
      marker.togglePopup();
    };
  <% end %>
});

</script>
