<section class="landing">
  <div class="container landing-text-container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h1 class="landing-title">
          Lava Mae Reach
        </h1>
        <h4 class="landing-body">
          Lava Mae Reach is a tool for anyone to learn more about how Lava Mae works,
          how it's revolutionizing access to basic sanitation, and even how to start Lava Mae
          projects in untapped areas.
        </h4>
        <a href="http://lavamae.org/" target="_blank">
          <button class="btn btn-blue">What's Lava Mae?</button>
        </a>
      </div>
    </div>
  </div>
</section>

<div class="about">
  <div class="about-text">
    <h1 class="landing-title">Who are we?</h1>
    <h4 class="landing-body">
      Lava Mae is a San Francisco-based nonprofit bringing humanity, innovation,
      and collaboration to the way services are provided to those experiencing
      homelessness.
    </h4>
    <a href="http://lavamae.org/" target="_blank">
      <button class="btn btn-blue">Find Out More</button>
    </a>
  </div>
</div>

<section class="site-map">
  <div class="container site-map-container">
    <div class="third">
      <h3>Discussions</h3>
      <%= link_to discussions_path do %>
        <%= image_tag("discussion-hero.png", :class => "third-hero") %>
      <% end %>
      <p>
        Connect with others around the globe through discussion threads. Ask
        discussions, answer discussions, and meet others.
      </p>
    </div>
    <div class="third">
      <h3>Resources</h3>
      <%= link_to resource_topics_path do %>
        <%= image_tag("resources-hero.png", :class => "third-hero") %>
      <% end %>
      <p>
        Read through our toolkits to learn more about how to start a project
        like Lava Mae and best strategies.
      </p>
    </div>
    <div class="third">
      <h3>Our Network</h3>
      <%= image_tag("map-hero.png", :class => "third-hero", :id => "backToTop") %>
      <p>
        Discover Lava Mae projects all around the world and read stories about
        other individuals and organizations revolutionizing global sanitation.
      </p>
    </div>
  </div>
</section>

<!-- NAV BAR COLOR CHANGE JS -->
<script>
$(document).scroll(function(){
    if($(this).scrollTop() > 535)
    {
       $('.nav-home').css({"background":"#16ACE6"});
    } else {
       $('.nav-home').css({"background":"transparent"});
    }
});

$("#backToTop").click(function(){
  $('html').animate({scrollTop:0}, 'slow');
  $('body').animate({scrollTop:0}, 'slow');
});
</script>
