<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.0.1/mapbox-gl-geocoder.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.0.1/mapbox-gl-geocoder.css' type='text/css' />

<div class="map-home" id='map'></div>

<div class="landing">
  <div class="landing-text">
    <h1 class="landing-title">
      Lava Mae Reach
    </h1>
    <h4 class="landing-body">
      Lava Mae Reach is a tool for anyone to learn more about how Lava Mae works,
      how it's revolutionizing access to basic sanitation, and even how to start Lava Mae
      projects in untapped areas.
    </h4>
    <button class="btn btn-blue" id="explore">Explore</button>
  </div>
</div>

<!-- Needed for black overlay -->
<div class="filler">
</div>

<div class="site-guide">
  <div class="thirds-container">
    <%= link_to discussions_path do %>
      <div class="third">
        <h3>Discussions</h3>
        <%= image_tag("discussion-hero.png", :class => "third-hero") %>
        <p>
          Connect with others around the globe through discussion threads. Ask
          discussions, answer discussions, and meet others.
        </p>
      </div>
    <% end %>
    <%= link_to resource_topics_path do %>
      <div class="third">
        <h3>Resources</h3>
        <%= image_tag("resources-hero.png", :class => "third-hero") %>
        <p>
          Read through our toolkits to learn more about how to start a project
          like Lava Mae and best strategies.
        </p>
      </div>
    <% end %>
    <%= link_to map_path do %>
      <div class="third">
        <h3>Our Network</h3>
        <%= image_tag("map-hero.png", :class => "third-hero") %>
        <p>
          Discover Lava Mae projects all around the world and read stories about
          other individuals and organizations revolutionizing global sanitation.
        </p>
      </div>
    <% end %>
  </div>
</div>

<script>
// EXPLORE
$("#explore").click(function(){
  $('html,body').animate({
    scrollTop: $(".site-guide").offset().top},
  'slow');
});

// MAPBOX
mapboxgl.accessToken = '<%= ENV['MAPBOX_KEY'] %>';

var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/light-v9',
  zoom: 1,
  minZoom: 1,
});

map.addControl(new MapboxGeocoder({
  accessToken: mapboxgl.accessToken
}));

var markerHeight = 20;
var popupMargin = markerHeight/2 + 5;
map.on('load', function() {
  var points = new Set();
  <% @users_on_map.each do |user| %>
    <% location = user.location %>
    var popupOffsets = {
     'top': [0, popupMargin],
     'top-left': [0, popupMargin],
     'top-right': [0, popupMargin],
     'bottom': [0, -popupMargin],
     'bottom-left': [0, -popupMargin],
     'bottom-right': [0, -popupMargin],
     'left': [popupMargin, 0],
     'right': [-popupMargin, 0]
     };
    var popup = new mapboxgl.Popup({offset:popupOffsets}).setHTML(
      '<div class="popup-preview">' +
        '<div class="organization"><%= user.organization %></div>' +
        '<div class="user-container">' +
          '<%= link_to user_path(id: user.id) do %> ' +
          '<div class="name"><%= user.first_name %> <%= user.last_name %></div>' +
          '<% end %>' +
          '<% if user.profile_pic? %> ' +
          '<%= image_tag(user.profile_pic.url(:thumb), class: "user-image") %>' +
          '<% else %><%= image_tag(("default.png"), class: "user-image") %>' +
          '<% end %>' +
        '</div>' +
      '</div>'
    );
    // TODO: Make markers circle around same point. This is quick fix.
    var lng = <%= location.lng %>;
    var lat = <%= location.lat %>;
    if (points.has(<%= location.id %>)) {
      let lng_r = Math.random() * (0.02) - 0.01;
      let lat_r = Math.random() * (0.02) - 0.01;
      lng += lng_r;
      lat += lat_r;
    } else {
      points.add(<%= location.id %>);
    }
    var marker = new mapboxgl.Marker(null, {offset:[-markerHeight/2, -markerHeight/2]})
      .setLngLat([lng, lat])
      .setPopup(popup)
      .addTo(map);
    marker.onMapClick = function() {
      marker.togglePopup();
    };
  <% end %>
});

</script>

<%= react_component('LoginModal', style: "btn btn-transparent btn-forum-login", from_confirmation: :modal) %>
