<div class="response-container row">
  <div class="response-text pull-left wordwrap">
  	<%= response.content %>
    <i class="upvote-button fa fa-angle-up fa-lg"></i>
    <span class="upvote-count"><%= response.score %> Upvotes</span>
  </div>

  <div class="user-container pull-right">
    <div class="user-picture">
      <a href=""><%= image_tag response.user.profile_pic.url(:thumb) if response.user.profile_pic? %></a>
    </div>
    <div class="name-date">
      <a href=""><div class="user-name"><%= response.user.full_name %></div></a>
      <div class="date"><%= time_ago_in_words(response.created_at) %> ago</div>
    </div>
    <div class="user-picture">
      <a href=""><%= image_tag response.user.profile_pic.url(:thumb) if response.user.profile_pic? %></a>
    </div>
  </div>
</div>

<div class="action-container pull-left">
  <i class="upvote-button fa fa-angle-up fa-lg"></i>
  <span class="upvote-count"><%= @discussion.score %> Upvotes</span>
</div>
<div class="response-actions row">
  <% if current_user and current_user == response.user %>
    <%= button_to 'Delete', discussion_response_path(response.discussion_id, response),
    method: :delete, class: 'btn btn-action btn-sm btn-destroy pull-right' %>
    <%= button_to 'Edit', edit_discussion_response_path(response.discussion_id, response),
    method: :get, class: 'btn btn-action btn-sm pull-right' %>
  <% end %>
</div>
