<div class="response-container row">
  <div class="response-text">
  	<% if current_user && (current_user == response.user || current_user.is_admin) %>
      <%= react_component "ResponseForm", {discussion: @discussion, response: response} %>
     <% else %>
      <%= response.content %>
    <% end %>
  </div>
  <div class="user-container">
    <div class="name-date">
      <a href=""><div class="user-name"><%= response.user.full_name %></div></a>
      <div class="date"><%= time_ago_in_words(response.created_at) %> ago</div>
    </div>
    <div class="user-picture">
      <% if response.user.profile_pic? %>
        <a href=""><%= image_tag response.user.profile_pic.url(:thumb) %></a>
      <% else %>
        <a href=""><%= image_tag("default.png") %></a>
      <% end %>
    </div>
    <%= react_component "Upvote", {discussion: @discussion, response: response, user: current_user, upvotes: response.upvotes} %>
  </div>
</div>
