<br/>
<br/>
<br/>
<br/>
<% if !@resource.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="well">
  <%= form_for @resource, html: { multipart: true } do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.label :module %>
    <%= collection_select(:resource, :resource_topic_id, ResourceTopic.all, :id, :name) %>
    <%= f.label :new_attachment %>
    <%= f.file_field :attachment %>
    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>
