<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<%= link_to "New Document", new_resource_path, class: "btn btn-primary" %>
<%= link_to "New Module", new_resource_topic_path %>
<br />
<br />
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Download Link</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= resource.title %></td>
        <td><%= resource.description %></td>
        <td><%= link_to "Download Document", resource.attachment_url, :target => "_blank" %></td>
        <td><%= button_to "Delete",  resource, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{resource.title}?" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
