<!DOCTYPE html>
<html>
<head>
  <title>Lava Mae</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<%= render 'flash' %>
<%= render 'partials/nav' %>
<%= yield %>

</body>
</html>
