<!DOCTYPE html>
<html>
<head>
  <title>Lava Mae</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<%= render 'partials/nav' %>
<%= yield %>

<!-- NAV BAR COLOR CHANGE JS -->
<script>
$(document).scroll(function(){
    if($(this).scrollTop() > 535)
    {
       $('.nav').css({"background":"#16ACE6"});
    } else {
       $('.nav').css({"background":"transparent"});
    }
});
</script>
</body>
</html>
